@charset "UTF-8";

body{
	background-color: #e6e6e6;
	text-align: center;
}

h1{
	color:#4b4b4b;
	font-family: 'Amatic SC', cursive;
	font-size:40px;
}

.main{
	font-size:20px;
}
a{
	color:#4b4b4b;
	font-size:15px;
	text-decoration: none;

}

.main{
	width:40%;
    padding: 0.5em 1em;
    margin: Auto;
    font-weight: bold;
    color: #4b4b4b;/*文字色*/
    background: #FFF;
    border: solid 4px #4b4b4b;/*線*/
    border-radius: 10px;/*角の丸み*/
    text-align: center;
    height:300px;
}

p{
	color:red;
	font-size:15px;
}

.form{
	width:250px;
	height:25px;
	font-size:15px;
}

.submit {
  display       : inline-block;
  border-radius : 8%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 18px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #2d2d2d;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  	font-weight:bold;

}
.submit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}
