@charset "UTF-8";

body{
	text-align: center;
	background-color: #e6e6e6;
	margin-top: 100px;

}

.header{
	width:100%;
	height:70px;
	background-color: #fff;
	display: flex;
	align-items: center;
	margin: Auto;
	position:fixed;
	top:0;
	left:0;

}

.header-logo{
	font-size:35px;
	color:blue;
	font-family: 'Amatic SC', cursive;
	padding-left: 10px;
}

.link{
	display:flex;
	list-style:none;
	float:left;
	margin: 20px 70px 20px 50px;
	font-size: 16px;
}

.logout1{
	list-style:none;
	float:left;
	margin: 15px 70px 0 50px;
	font-size: 14px;
}

.logout2{
	list-style:none;
	float:left;
	margin: 10px 70px 0 150px;
	font-size: 14px;
}

.searchUl{
	margin-right: auto;
	margin-left: auto;
}

.search{
	list-style:none;
	float:left;
	font-size: 16px;
	margin: 0 100px 0 100px;

}

a{
	text-decoration:none;
	color: #4b4b4b;
}

p{
	color:red;
	font-size:15px;
}

.title{
	font-size:25px;
	float:left;
	padding-left:10px;
	padding-top:0;
	color: #4b4b4b;/*文字色*/
    font-weight: bold;
}

.name{
	float:right;
	padding:15px 10px 0 0;
	color: #4b4b4b;/*文字色*/
    font-weight: bold;
}

.text{
	font-size:18px;
	color: #4b4b4b;/*文字色*/
}

.category{
	float:left;
	padding-left:8px;
	color:#686868;
}

.date{
	float:right;
	padding-right:8px;
}

.delete{
	float:right;
}

.message{
	width:40%;
    padding: 0.5em 1em;
    margin: Auto;
    background: #FFF;
    border: solid 4px #4b4b4b;/*線*/
    border-radius: 5px;/*角の丸み*/
    text-align: center;
}

.comment{
	width:80%;
    padding: 0.5em 1em;
    margin: Auto;
    background: #FFF;
    border: solid 2px #4b4b4b;/*線*/
    border-radius: 5px;/*角の丸み*/
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);

}

.commentTitle{
	float:left;
	padding-left:5px;
	font-size:18px;
    font-weight: bold;

}

.commentName{
	float:right;
	padding-right:8px;
	padding-top:3px;
    font-weight: bold;

}

.commentText{
	font-size:16px;
}

.logoutBottun {
	font-weight:bolder;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #4b4b4b;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.logoutBottun:hover {
    background-color: #ff0000;
}

.logoutBottun:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*削除・コメントボタン*/
.submit {
  display       : inline-block;
  border-radius : 8%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 15px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #2d2d2d;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  	font-weight:bold;

}
.submit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}

/*ページトップボタン*/
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 200px;
  bottom: 10px;
  background: #4b4b4b;
  opacity: 0.6;
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
