@charset "UTF-8";
body{

	text-align: center;
	background-color: #e6e6e6;
	margin-top: 100px;

}

.header{
	width:100%;
	height:70px;
	background-color: #fff;
	display: flex;
	align-items: center;
	margin: Auto;
	position:fixed;
	top:0;
	left:0;

}

.header-logo{
	font-size:35px;
	color:blue;
	font-family: 'Amatic SC', cursive;
	padding-left: 10px;
}

.link{
	display:flex;
	list-style:none;
	float:left;
	margin: 20px 70px 20px 50px;
	font-size: 16px;
}

.logout{
	list-style:none;
	float:left;
	margin: 10px 70px 0 50px;
	font-size: 14px;
}

p{
	color:red;
	font-size:15px;
}

a{
	text-decoration:none;
	color: #4b4b4b;
}
table {
	border:none;
	border: solid 4px;
	margin: 3px auto;
	border-collapse: collapse; /* 枠線(ボーダー)を重ねて表示 */
	width:80%;
    border-radius: 10px;/*角の丸み*/
    padding: 0.5em 1em;
    color: #4b4b4b;/*文字色*/
    background: #FFF;

}

td{
	height:40px;
	width: 200px;
}

th,tr {
	border: solid 1px 0;
	height:40px;
	width: 200px;
}

th, td {
    border-bottom:solid 1px;
}

/*停止中を赤色に*/
.stopped{
	font-color:red;
}

/*編集・停止ボタン*/
.submit {
  display       : inline-block;
  border-radius : 8%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 15px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #2d2d2d;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  	font-weight:bold;

}
.edit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}

/*復活*/
.recovery {
  display       : inline-block;
  border-radius : 8%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 15px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #2e3df3;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  	font-weight:bold;

}
.edit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}

/*ログインボタン*/
.logoutBottun {
	font-weight:bolder;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #4b4b4b;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.logoutBottun:hover {
    background-color: #ff0000;
}

.logoutBottun:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}