<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー編集</title>
<link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="header">
		<div class="header-logo">
			<a href="/">SUGARASHI</a>
		</div>
		<div class="header-list">

			<ul>
				<li class="link"><a href="/new">新規投稿</a></li>
				<li class="link"><a href="/userManagement">ユーザー管理</a></li>
				<li class="link"><a href="/signup">新規ユーザー登録</a></li>
				<li class="logout"><form  th:action="@{/logout}" method="get">
						<input class="logoutBottun" type="submit" value="ログアウト" />
					</form></li>
			</ul>
		</div>
	</div>


	<div th:if="${errorMessages} != null">
		<div th:each="errorMessage : ${errorMessages}">
			<p th:text="${errorMessage}" />
		</div>
	</div>

	<div class="main-contents">
		<form th:action="@{/update/{id}(id=${formModel.id})}" method="post"
			th:object="${formModel}">

			<table>

			<tr>
				<td><label for="account">アカウント名</label></td>
				<td><p></p>
				<input class="form" name="account" th:value="*{account}" id="account" placeholder="6字以上10字以下の半角英数字"/></td>
			</tr>

			<tr>
				<td><label for="password">パスワード</label></td>
				<td><p></p>
				<input class="form" name="password" type="password" th:value="*{password}" id="password" placeholder="6字以上20字以下の記号含む半角英数字"/></td>
			</tr>

			<tr>
				<td><label for="password">パスワードの確認</label></td>
				<td><input class="form" name="passwordVerification"
				type="password" th:value="${passwordVerification}"
				id="passwordVerification" /></td>
			</tr>

			<tr>
				<td><label for="name">氏名</label></td>
				<td><p></p>
				<input class="form" name="name" id="name" th:value="*{name}" placeholder="10字以下"/></td>
			</tr>

			<tr>
				<td><label for="branchId">支社</label></td>
				<td><p></p>
				<select class="form" name="branchId">
					<option value="0" th:selected="*{branchId} == 0">本社</option>
					<option value="1" th:selected="*{branchId} == 1">A支社</option>
					<option value="2" th:selected="*{branchId} == 2">B支社</option>
					<option value="3" th:selected="*{branchId} == 3">C支社</option>
				</select>
			</tr>

			<tr>
				<td><label for="departmentId">部署</label></td>
				<td><p></p>
				<select class="form" name="departmentId">
					<option value="0" th:selected="*{departmentId} == 0">総務人事部</option>
					<option value="1" th:selected="*{departmentId} == 1">情報管理部</option>
					<option value="2" th:selected="*{departmentId} == 2">営業部</option>
					<option value="3" th:selected="*{departmentId} == 3">技術部</option>
				</select>
			</tr>

			</table>
			<br>
			<input class="submit" type="submit" value="登録" /> <br />
		</form>
	</div>
</body>
</html>