<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
<title>ログイン画面</title>
</head>
<body>
	<h1>LOGIN TO SUGARASHI</h1>
	<div class="main">
		<div th:if="${errorMessages} != null">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}" />
			</div>
		</div>
		<br>
		<form th:action="@{/loginUser}" method="post" th:object="${formModel}">
			<label for="account"></label> <input class="form" type="text" name="account"
				th:value="*{account}" placeholder="アカウント名" id="account" /><br><br>

			<label for="password"></label> <input class="form"name="password" type="password"
				th:value=*{password} placeholder="パスワード" id="password" /><br /> <br>
			<input class="submit" type="submit" value="ログイン" /> <br />
		</form><br>
	</div>
</body>
</html>