<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿</title>
<link th:href="@{/css/new.css}" rel="stylesheet" type="text/css">

</head>
<body>

	<div class="header">
		<div class="header-logo">
			<a href="/">SUGARASHI</a>
		</div>
		<div class="header-list">

			<ul>
				<li class="link"><b><a href="/new">新規投稿</a></b></li>
				<li class="link"><a href="/userManagement">ユーザー管理</a></li>
				<li class="link"><a href="/signup">新規ユーザー登録</a></li>
				<li class="logout"><form  th:action="@{/logout}" method="get">
						<input class="logoutBottun" type="submit" value="ログアウト" />
					</form></li>
			</ul>
		</div>
	</div>
     <div class="newMessage">

	<form method="post" th:action="@{/add}" th:object="${formModel}">

		<table>
		<tr>
			<td>タイトル</td>
			<td><p th:errors="*{title}" class="error-message"></p>
			<input type="text" name="title" th:value="*{title}" placeholder="30字以下で入力してください" /></td>
		</tr>

		<tr>
			<td>カテゴリー</td>
			<td><p th:errors="*{category}" class="error-message"></p>
			<input type="text" name="category" th:value="*{category}" placeholder="10字以下で入力してください"/></td>
		</tr>

		<tr>
			<td class="text">本文</td>
			<td class="text"><p th:errors="*{text}" class="error-message"></p>
			<textarea name="text" th:field="*{text}" placeholder="1000字以下で入力してください"></textarea></td>
		</tr>

   		</table>
		<br>
		<input class="submit" type="submit" value="投稿" />

	</form>
	</div>

</body>
</html>