<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>トップ画面</title>
<link th:href="@{/css/top.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">


<script type="text/javascript">
	function messageDelete() {
		flag = confirm("投稿を削除しますか？");
		if (flag == true) {
			return true;
		} else {
			return false;
		}
	};
</script>
</head>
<body>

	<div class="header">
		<div class="header-logo">
			<a href="/">SUGARASHI</a>
		</div>
		<div class="header-list">

			<ul>
				<li class="link">
				<a href="/new">新規投稿</a></li>
				<li class="link" th:if="${loginUser.branchId != 0 && loginUser.departmentId != 0}">
				　　　　　　　　　　　　　　　　　　　　　 </li>
				<li class="link" th:if="${loginUser.branchId == 0 && loginUser.departmentId == 0}">
				<a href="/userManagement">ユーザー管理</a></li>
				<li class="link" th:if="${loginUser.branchId == 0 && loginUser.departmentId == 0}">
				<a href="/signup">新規ユーザー登録</a></li>

				<li class="logout1">
					<form  th:action="@{/logout}" method="get">
						<input class="logoutBottun" type="submit" value="ログアウト" />
					</form>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<ul class="searchUl">

		<li class="search"><form th:action="@{/search}" method="get">
				<div class="sort">
					　　　　　　　　Category <input name="category" th:value="${category}" />　Since <input type="date" name="start" th:value="${start}" />  Until <input
						type="date" name="end" th:value="${end}" />　 <input class="submit"
						type="submit" value="検索">
				</div>
			</form>
		</li>
		</ul>
	</div><br>
	<div th:if="${errorMessages} != null">
		<div th:each="errorMessage : ${errorMessages}">
			<p th:text="${errorMessage}" />
		</div>
	</div><br>
		<!-- 投稿内容表示 -->
	<div th:each="message : ${messages}">
		<div class="message">
			<div th:each="user : ${users}">
				<div th:if="${message.userId} == ${user.id}">
				<a class="title" th:text="${message.title}" /> <div class="name">From：<a th:text="${user.name}" /></div>

					<hr color="#4b4b4b" width="500px" size="2px" >

					<pre><a class="text" th:text="${message.text}" /></pre>
					<div class="category">Category：<a th:text="${message.category}" /></div><a class="date" th:text="${#dates.format(message.createdDate, 'yyyy-MM-dd HH:mm:ss')}" />
				</div>
			</div>
			<br>
			<!-- 削除ボタン -->
			<div th:if="${loginUser.id} == ${message.userId}">
				<form class="delete" th:method="delete"
					th:action="@{/delete/{id}(id=${message.id})}">
					<input class="submit" type="submit" value="投稿削除" onClick="return messageDelete()" /><br>
				</form>
			</div><br><br>

			<!-- コメントする -->
			<form method="post" th:action="@{/comment/{id}(id=${message.id})}" th:object="${formModel}">
				<textarea name="text" th:field="*{text}" cols="40" rows="5"></textarea>
				</br> <input class="submit" type="submit" value="コメント" />
			</form><br>

			<!-- コメント表示 -->
			<div th:each="comment : ${comments}">
				<div th:if="${message.id} == ${comment.messageId}">
					<div th:each="user : ${users}">
						<div th:if="${comment.userId} == ${user.id}">
							<div class="comment">
								<div class="commentTitle">Re：<a th:text="${message.title}"/></div><div class="commentName">From：<a th:text="${user.name}" /></div>
								<hr color="#4b4b4b" width="400px" size="1px" ><br>

								<pre><a class="commentText" th:text="${comment.text}" /></pre>
								<br><a class="date" th:text="${#dates.format(comment.createdDate, 'yyyy-MM-dd HH:mm:ss')}" /><br>
								<div th:if="${loginUser.id} == ${comment.userId}">
									<form class="delete" th:method="delete"
										th:action="@{/deleteComment/{id}(id=${comment.id})}">
										<input class="submit" type="submit" value="コメント削除"
										onClick="return messageDelete()" />
									</form><br><br>
								</div>
							</div><br>
						</div>
					</div>
				</div>
			</div>
		</div><br>
	</div>
	<div id="page_top"><a href="#"></a></div>
</body>
</html>