<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー管理</title>
<link th:href="@{/css/userManagement.css}" rel="stylesheet" type="text/css">
<script type="text/javascript">
	function userSwitch() {
		flag = confirm("本当に変更しますか？");
		if (flag == true) {
			return true;
		} else {
			return false;
		}
	};
</script>
</head>
<body>
	<div th:if="${errorMessages} != null">
		<div th:each="errorMessage : ${errorMessages}">
			<p th:text="${errorMessage}" />
		</div>
	</div>
	<div class="header">
		<div class="header-logo">
			<a href="/">SUGARASHI</a>
		</div>
		<div class="header-list">

			<ul>
				<li class="link"><a href="/new">新規投稿</a></li>
				<li class="link"><b><a href="/userManagement">ユーザー管理</a></b></li>
				<li class="link"><a href="/signup">新規ユーザー登録</a></li>
				<li class="logout"><form  th:action="@{/logout}" method="get">
						<input class="logoutBottun" type="submit" value="ログアウト" />
					</form></li>
			</ul>
		</div>
	</div>
	<table>
		<tr>
			<th>ID</th>
			<th>アカウント名</th>
			<th>　　　氏名　　　</th>
			<th>支社</th>
			<th>　部署　</th>
			<th>稼働状態</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}" />
			<td th:text="${user.account}" />
			<td th:text="${user.name}" />
			<div th:each="branch : ${branches}">
			<td th:if="${user.branchId} == ${branch.id}" th:text="${branch.name}"></td>
			</div>
			<div th:each="department : ${departments}">
				<td th:if="${user.departmentId} == ${department.id}"
					th:text="${department.name}" />
			</div>
			<div th:if="${user.isStopped == 0}">
				<td th:text="稼働中"></td>
			</div>
			<div th:if="${user.isStopped == 1}">
				<td><a th:text="停止中" style="color:red"></td>
			</div>

			<td><a th:href="@{/editUser/{id}(id=${user.id})}"><button class="submit"
						type="button">編集</button></a></td>
			<td>
				<form th:action="@{/switch/{id}(id=${user.id})}" th:method="put">
					<input th:if="${user.isStopped == 0}" type="submit" class="submit" value="停止" onClick="return userSwitch()">
					<input class="recovery" th:if="${user.isStopped == 1}" type="submit"  value="復活" onClick="return userSwitch()">
					<input type="hidden" name="isStopped" th:value="${user.isStopped}">
				</form>
			</td>
	</table>
</body>
</html>